<% if current_user?(message.user) %> 
	<p style="text-align: right;">
	<span>
		<span class="user-message"><%=message.content%></span>
		<%= image_tag message.picture.url if message.picture? %>
		<strong><%= link_to message.user.name.split[0], message.user%></strong>
	</span>
	<%= gravatar_for message.user, size: 50 %>
	</p>	
<% else %>
	<p>
	<%= gravatar_for message.user, size: 50 %>
	<span>
		<strong><%= link_to message.user.name.split[0], message.user%></strong>
		<span class="user-message"><%=message.content%></span>
		<%= image_tag message.picture.url if message.picture? %>
	</span>
	</p>
<% end %>